.searchInput {
    width: 480px;
    max-width: 100%;
    position: relative;

    .icon {
        font-size: 1rem;
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
    }

    input {
        padding: 1rem 1rem 1rem 4rem;
        width: 100%;
        border-radius: var(--radius);
        border: none;
        box-shadow: var(--shadow);
        background-color: var(--elements-bg);
        color: var(--text-color);
    }
}