// reset page stylesheet

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a, button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}