.Country {
    background-color: var(--elements-bg);
    width: 80%;
    display: block;
    border-radius: var(--brd-rd);
    box-shadow: var(--bx-shdw);
    overflow: hidden;
    margin-bottom: 2rem;
    margin-right: auto;
    margin-left:auto;
    
    .ct_flag {
        width: 100%;
        aspect-ratio: 3/2;
    }

    .ct_texts {
        padding: 1.8rem 1.3rem;

        .ct_name {
            margin-bottom: 1.2rem;
        }

        .ct_details {
            font-size: var(--home-isize);

            li {
                margin-bottom: 0.4rem;

                .ct_key {
                    font-weight: 600;
                }
            }
            
        }
    }
}